div {
    width: 80%;
    border: solid green 2px;
}

.indigocolor {
    color: indigo;
}

.h1size {
    font-size: 50px;
}

#h1color {
    color: maroon;
}

h1 {
    color: salmon /*!important ANULEZA toate stilizarile pe h1 de pin aici*/;
}